.page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    padding: 0vw 10.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333 ; 
}

#left-div{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.5vw 0;
    /* padding-bottom: 10vw; */
    /* background-color: rebeccapurple; */
}
#left-div p{
    font-size: 1vw;
    font-weight: 450;
    width: 50%;

}

#left-div h5{
    font-size: 1.2vw;
    font-weight: 400;
    width: 80%;
    padding-bottom: 13vh;
}

#right-div{
    height: 100%;
    width: 50%;
    cursor: pointer;
    /* background-color: rebeccapurple; */
}

.right-elem{
    position: relative;
    border-top: 1px solid #333;
}
.right-elem h4{
    font-size: 1.6vw;
    font-weight: 400;
    padding-top: 2.5vh;

    width: 80%;
}
.right-elem img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    scale: 0;
}
