nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vw 7vw;
  background-color: #111; 
  height: 12vh ;
  z-index: 10;
}
nav h1{
    font-weight: 900;
}
.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.6vw;
}
.nav-part2 h5 {
  margin-bottom: 1vw;
  display:none;
  overflow: hidden;
  /* background-color: red; */
}
.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  display: inline-block;
  transform: translateY(25px);
}
nav button {
  background-color: #0ca34e;
  display: flex;
  align-items: center;
  padding: 3px 12px;
  border-radius: 50px;
  font-size: 0.9vw;
  font-weight: 700;
  border: none;
  text-transform: uppercase;

}
nav button svg {
  height: 2vw;
  margin-right: 1vw;
}

#nav-bottom{
    width: 86%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #dadada ;
} 
.nav-elem h4{
    cursor: pointer;
}